<ion-header>
  <ion-toolbar>
    <ion-title>GET FREE</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-title>RRSS</ion-title>
    <ion-icon class="icon-tab" name="ellipse"></ion-icon>
    <ion-icon class="icon-tab" name="ellipse"></ion-icon>
    <ion-icon class="icon-tab" name="ellipse"></ion-icon>
    <ion-icon class="icon-tab" name="ellipse"></ion-icon>
    <ion-icon class="icon-tab" name="ellipse"></ion-icon>
    <ion-icon class="icon-tab" name="ellipse"></ion-icon>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon class="icon-tab" name="ellipse"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon class="icon-tab" name="ellipse"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon class="icon-tab" name="ellipse"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon class="icon-tab" name="ellipse"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon class="icon-tab" name="ellipse"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <h3>PROGRESS</h3>
    <ion-progress-bar value="0.5"></ion-progress-bar>
  </ion-card>
  

</ion-content>

<ion-footer>
  <img src="../assets/img/logo1.png" width="37px" height="37px">
  <img src="../assets/img/becannanpay.png" alt="">
</ion-footer>
