<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Be Cannan Pay
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Get CBD</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>CBD</ion-card-subtitle>
      <ion-card-title>Buy with fiat</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group value="biff">
        <ion-list-header>
          <ion-label>Method</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Paypal</ion-label>
          <ion-radio slot="start" value="biff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>MasterCard / Visa</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>B2B pay</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    
  </ion-card>
  
</ion-content>
