<ion-header>
  <ion-toolbar>
    <ion-title>REFERRAL</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>My referrals</ion-label>
    <ion-badge slot="end">5</ion-badge>
  </ion-item>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="qr-code"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

<ion-footer>
  <img src="../assets/img/logo1.png" width="37px" height="37px">
  <img src="../assets/img/becannanpay.png" alt="">
</ion-footer>
