<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/menu/tabs">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>PROFILE</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button slot="end"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img src="" alt="">
  <h1>User Name</h1>
  <h2>Address</h2>
  <ion-button>EDIT</ion-button>
  <h3>EMAIL</h3>
  <label for="">name@email.com</label>
  <h3>PHONE</h3>
  <label for="">+1 987654321</label>
  <h3>FREE CBD</h3>
  <ion-progress-bar value="0.5"></ion-progress-bar>
</ion-content>

<ion-footer>
  <img src="../assets/img/logo1.png" width="37px" height="37px">
  <img src="../assets/img/becannanpay.png" alt="">
</ion-footer>